<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jobplanet - Responsive Job Board HTML Template </title>

  <!--favicon-->
  <link rel="apple-touch-icon" href="assets/theme/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="assets/theme/images/favicon.ico" type="image/x-icon">




  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- wrapper page -->
<div class="wrapper">
  <!-- main-header -->
  <header class="main-header">


    <!-- main navbar -->
    <nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
      <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li class=""><a href="job_list.html"><strong>Find a Job</strong></a></li>
            <li class=""><a href="resume_list.html"><strong>Find Resumes</strong></a></li>
            <li  class=""><a href="job_post_1.html"><strong>Post a Job</strong></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Pages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="blog.html">Articles &amp; Blog</a></li>
                <li><a href="terms_privacy.html">Terms &amp; Privacy</a></li>
                <li><a href="error_404.html">Error 404</a></li>
                <li><a href="shortcode.html">Short Code</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Features <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="job_list.html">Find a Job</a></li>
                <li><a href="job_details.html">Job Details</a></li>
                <li><a href="resume_list.html">Find Resumes</a></li>
                <li><a href="resume_details.html">Resume Details</a></li>
                <li><a href="job_post_2.html">Post a Job</a></li>
                <li><a href="company_page.html">Company Profile</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="link-btn"><a href="login.html"><span class="btn btn-theme btn-pill btn-xs btn-line">Login</span></a></li>
            <li class="link-btn"><a href="register.html"><span class="btn btn-theme  btn-pill btn-xs btn-line">Register</span></a></li>
          </ul>
        </div>
      </div>
    </nav><!-- end main navbar -->

    <!-- mobile navbar -->
    <div class="container">
      <nav class="mobile-nav hidden-md hidden-lg">
        <a href="#" class="btn-nav-toogle first">
          <span class="bars"></span>
          Menu
        </a>
        <div class="mobile-nav-block">
          <h4>Navigation</h4>
          <a href="#" class="btn-nav-toogle">
            <span class="barsclose"></span>
            Close
          </a>

          <ul class="nav navbar-nav">
            <li class=""><a href="job_list.html"><strong>Find a Job</strong></a></li>
            <li class=""><a href="resume_list.html"><strong>Find Resumes</strong></a></li>
            <li  class=""><a href="job_post_1.html"><strong>Post a Job</strong></a></li>
            <li><a href="login.html"><strong>Login</strong></a></li>
            <li><a href="register.html"><strong>Register</strong></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Pages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="blog.html">Articles &amp; Blog</a></li>
                <li><a href="terms_privacy.html">Terms &amp; Privacy</a></li>
                <li><a href="error_404.html">Error 404</a></li>
                <li><a href="shortcode.html">Short Code</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Features <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="job_list.html">Find a Job</a></li>
                <li><a href="job_details.html">Job Details</a></li>
                <li><a href="resume_list.html">Find Resumes</a></li>
                <li><a href="resume_details.html">Resume Details</a></li>
                <li><a href="job_post_2.html">Post a Job</a></li>
                <li><a href="company_page.html">Company Profile</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div><!-- mobile navbar -->


    <div class="container">
      <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/logo.png" alt=""></a></div>
    </div>

  </header><!-- end main-header -->


  <!-- body-content -->
  <div class="body-content clearfix" >

    <div class="block-section bg-color4">
      <div class="container">
        <div class="panel panel-md">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <!-- buttons top -->
                <p><a href="#" class="btn btn-primary btn-theme btn-block"><i class="fa fa-facebook pull-left bordered-right"></i> Login with Facebook</a></p>
                <p><a href="#" class="btn btn-danger btn-theme btn-block"><i class="fa fa-google-plus pull-left bordered-right"></i> Login with Google</a></p>
                <!-- end buttons top -->

                <div class="white-space-10"></div>
                <p class="text-center"><span class="span-line">OR</span></p>

                <!-- form login -->
                <form  #f="ngForm"  (ngSubmit)="authentification()">
                  <div class="form-group">
                    <label>Login</label>
                    <input type="text" name="login" class="form-control" [(ngModel)]="user.userName" required>

                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="pwd" class="form-control" [(ngModel)]="user.password" required>


                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="checkbox flat-checkbox">
                          <label>
                            <input type="checkbox">
                            <span class="fa fa-check"></span>
                            Remember me?
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6 text-right">
                        <p class="help-block"><a href="#myModal" data-toggle="modal">Forgot password?</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group no-margin">
                    <input type="submit" value="confirmer" class="btn btn-theme btn-lg btn-t-primary btn-block">

                  </div>
                </form><!-- form login -->

              </div>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>
        <div class="text-center color-white">Not a member? &nbsp; <a href="#" class="link-white"><strong>Create an account free</strong></a></div>
      </div>
    </div>

    <!-- box bottom -->
    <div class="block-section bg-color2">
      <div class="container text-center">
        <i class="fa fa-mobile-phone fa-5x box-icon"></i>
        <h2 class=""> Find jobs with your phone</h2>

        <p>Download the JobPlanet app from the</p>
        <a href="#" class="btn btn-theme btn-default"><i class="fa fa-android bordered-right dark"></i> Android</a>
        <span class="space-inline-10"></span>
        <a href="#" class="btn btn-theme btn-default"><i class="fa fa-apple bordered-right dark"></i> Iphone</a>
      </div>
    </div><!-- end box bottom -->

    <!-- modal forgot password -->
    <div class="modal fade" id="myModal" >
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" >Forgot Password</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Enter Your Email</label>
                <input type="email" class="form-control " name="text" placeholder="Email">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success btn-theme">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end modal forgot password -->
  </div><!--end body-content -->


  <!-- main-footer -->
  <footer class="main-footer">


    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline link-footer text-center-xs">
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-6 ">
          <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connect</p>
          <div class="socials text-right text-center-xs">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- end main-footer -->

</div><!-- end wrapper page -->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


<!-- maps -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>


</body>
</html>
